.list-theme() {
  --list-primary: rgb(var(--primary-6));
  --list-primary-hover: rgb(var(--primary-5));
  --list-primary-active: rgb(var(--primary-7));
  --list-primary-soft: var(--color-primary-light-1);
  --list-primary-header: var(--color-neutral-2);
  --list-text: var(--color-text-1);
  --list-text-secondary: var(--color-text-2);
  --list-text-tertiary: var(--color-text-3);
  --list-text-disabled: var(--color-text-4);
  --list-border: var(--color-border-2);
  --list-divider: var(--color-neutral-3);
}
